.photo-text {

    background-image: url(images/donation9.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 800px;


}

.text {
    size: 80%;
    text-align: center;
    width: 100%;
    padding-top: 200px;
}

#h1-1 {
    color: white;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#p1 {
    font-size: 40px;
    color: white;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.input-1 {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    font-size: 30px;

}

.flexible1 {
    margin-left: 35%;
    display: flex;

}

.margin {
    background-color: aliceblue;
    margin: 20px 10px;
    border: 30px 10px;
    width: 100px;

    text-align: center;
    border-radius: 10px;
}

#tk {
    background-color: rgb(231, 219, 219);
    border: 2px solid red;
    margin: 20px 10px;
    border: 30px 10px;
    width: 100px;

    text-align: center;
    border-radius: 10px;
}

#d-t {
    text-align: center;

}

.h {
    font-size: 40px;
    font-family: sans-serif;
}

.p {
    font-size: 20px;
}

#s2 {
    margin-top: 5%;
}

#input {
    text-align: center;
    margin: 2%;
    margin-left: 25%;
    width: 50%;
    border: 0;
    border-bottom: 0.5px solid rgb(165, 154, 154);

    font-size: 20px;
}

.h1-3 {
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;

}

.p3 {
    font-size: 20px;
    margin-left: 32%;
    width: 40%;
    margin-right: 32%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.support {
    display: flex;

}

.s1 {
    background-color: rgb(195, 218, 238);
    width: 500px;
    margin-left: 10%;
    padding: 10px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.s2 {
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 500px;
    margin-left: 1%;
    padding: 10px 15px;
}

.s3 {
    background-color: rgb(159, 202, 204);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 500px;
    margin-left: 1%;
    margin-right: 10%;
    padding: 10px 15px;
}

#img {
    width: 12%;
}

.p-f {
    display: flex;
}

.p-1 {
    width: 800px;
}

.sec-2 {
    display: flex;
    margin-top: 3%;

    background-color: aliceblue;

}

#p4 {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tnu {
    font-size: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.em {
    font-weight: 400;
    background-color: rgb(115, 148, 177);
    border: 0px solid;
    width: 40%;
    padding: 15px 10px;
    border-radius: 5px;
    padding-left: 30%;
    margin-left: 10%;
}

.update {
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#subs {
    color: aliceblue;
    font-weight: 400;

    background-color: rgb(180, 57, 84);

    padding: 15px 25px;
    border: 0px solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.last {
    background-color: rgba(0, 0, 0, 0.801);
    color: aliceblue;
    padding-left: 45%;
    width: 10px 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}