.photo-text {

    background-image: url(images/donation9.jpg);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 800px;


}

.text {
    size: 80%;
    text-align: center;

    padding-top: 5%;
}

#h1-1 {
    color: white;
    font-size: 80px;
}

#p1 {
    font-size: 40px;
    color: white;
}

#input-1 {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    font-size: 40px;

}

.flexible1 {
    margin-left: 40%;
    display: flex;
    box-shadow: 20px 10px;
}

.margin {
    margin: 20px 10px;
}